html {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

.profile {
    background-color: lightsalmon;
    margin: 1.4rem 3rem;
    padding: 1rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.profile p {
    margin-bottom: 9rem;
    font-size: 2rem;
}

figcaption {
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
}